**/*~
**/*.aux
**/*.out
**/*fls
**/*log
**/*fdb_latexmk
*.bbl
*.blg
**/virtualenv/
**/__pycache__
**/*populate*.py
/paper/neuro-cadical-neurips.pdf
/paper/template.pdf
/paper/auto/
/paper/clean.sh
/250000
/Pipfile
data/
cgen/
cadical/**/*
satenv/
torchscript/
python/requirements.txt
.idea/
.vscode/
