**/*~
**/*.aux
**/*.out
**/*fls
**/*log
**/*fdb_latexmk
*.bbl
*.blg
**/virtualenv3.8/
**/virtualenv/
**/__pycache__
**/*populate*.py
/paper/neuro-cadical-neurips.pdf
/paper/template.pdf
/paper/auto/
/paper/clean.sh
/250000
/Pipfile
data/
cgen/
cadical/**/*
cadical-origin/
cadical-neuro
satenv/**/*
torchscript/
.idea/
.vscode/
*.cnf
.DS_Store
**/*/.DS_Store
