torch
numpy<1.19.0
cnfgen
https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-0.9.0.dev0-cp36-cp36m-manylinux1_x86_64.whl
h5py
tensorflow>=2.1
tensorboard
python-sat
matplotlib
psutil
pandas
tabulate
